{
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "lf",
  "semi": true,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "bracketSpacing": true
}
